<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Swap{% endblock %}</title>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            ubuntu: ['Ubuntu', 'sans-serif'],
                        },
                    },
                },
            };
        </script>
    </head>

    <body class="bg-gray-200 font-ubuntu">
        <header class="flex w-full items-center justify-between bg-black text-white max-lg:px-10 px-40">
            <a href="{{ path('app_default') }}">
                <svg width="75" height="75" version="1.1" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
                    <path d="m1079.5 518.44c-0.12109-0.68359-0.37109-1.3086-0.58984-1.9688-0.14453-0.46875-0.25391-0.94922-0.44531-1.4023-0.27734-0.69531-0.68359-1.332-1.0547-1.9805-0.21484-0.37109-0.34766-0.75781-0.58984-1.1172-0.51562-0.76953-1.1289-1.4648-1.7539-2.1367-0.16797-0.17969-0.30078-0.39453-0.46875-0.57422l-77.902-77.902c-7.0312-7.0312-18.422-7.0312-25.453 0-7.0312 7.0195-7.0312 18.434 0 25.453l47.18 47.191h-186.47c-36.984-95.641-128.65-159-232.08-159-107.83 0-202.87 68.879-236.51 171.39-3.0977 9.4453 2.0391 19.609 11.484 22.715 1.8789 0.60156 3.7773 0.89062 5.625 0.89062 7.5703 0 14.605-4.8125 17.113-12.395 28.754-87.695 110.04-146.61 202.29-146.61 92.23 0 173.53 58.922 202.29 146.61 2.4219 7.3906 9.332 12.395 17.109 12.395h199.13l-47.184 47.184c-7.0312 7.0195-7.0312 18.422 0 25.453 3.5156 3.5156 8.1133 5.2695 12.73 5.2695 4.5977 0 9.2148-1.7539 12.73-5.2695l77.879-77.867c0.83984-0.85156 1.6211-1.7773 2.2695-2.7734 0.097657-0.10938 0.12109-0.23828 0.21484-0.35938 0.53906-0.86328 1.0547-1.7656 1.4531-2.7227 0.12109-0.26562 0.16797-0.5625 0.25391-0.82812 0.27734-0.82813 0.58984-1.6562 0.76953-2.5195 0.21484-1.043 0.27734-2.125 0.30078-3.2148 0-0.12109 0.046875-0.22656 0.046875-0.33594 0.007812-1.2266-0.125-2.4141-0.36328-3.5781zm-254.36 142.46c-9.4922-3.0859-19.621 2.0508-22.738 11.496-28.754 87.684-110.04 146.61-202.29 146.61-92.23 0-173.53-58.922-202.29-146.61-2.4258-7.3906-9.3359-12.395-17.113-12.395h-199.12l47.184-47.195c7.0312-7.0195 7.0312-18.422 0-25.453s-18.422-7.0312-25.453 0l-77.879 77.879c-1.6914 1.6797-3.0234 3.6953-3.9609 5.9414-0.023437 0.085937-0.046875 0.16797-0.070312 0.25391-0.79297 2.0391-1.2852 4.2461-1.2852 6.5742 0 2.3164 0.49219 4.5117 1.2852 6.5508 0.023437 0.097657 0.046875 0.20312 0.097656 0.28906 0.88672 2.207 2.2305 4.1992 3.8867 5.8672v0.011719l77.902 77.914c3.5156 3.5156 8.1367 5.2695 12.73 5.2695 4.6211 0 9.2148-1.7539 12.73-5.2695 7.0312-7.0195 7.0312-18.422 0-25.453l-47.195-47.18h186.47c36.984 95.641 128.65 159 232.08 159 107.83 0 202.87-68.879 236.51-171.39 3.0977-9.4453-2.0352-19.609-11.48-22.707z" fill="white"/>
                </svg>
            </a>

            {% if app.user %}
                <div class="flex flex-row gap-2 my-10 items-center">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_admin' )}}" class="transition duration-200 ease-in-out text-lg font-ubuntu hover:bg-white hover:bg-opacity-20 p-2 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                            </svg>
                        </a>
                    {% else %}
                    <a href="{{ path('app_profil') }}"  class="transition duration-200 ease-in-out text-lg font-ubuntu hover:bg-white hover:bg-opacity-20 p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                    </a>
                    {% endif %}

                    <a href="{{ path('app_conversations_discussion') }}" class="transition duration-200 ease-in-out text-lg font-ubuntu hover:bg-white hover:bg-opacity-20 p-2 rounded-full"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                        </svg>
                    </a>

                    <a href="{{ path('app_logout') }}" class="transition duration-200 ease-in-out text-lg font-ubuntu hover:bg-white hover:bg-opacity-20 p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                        </svg>
                    </a>
                </div>
            {% else %}
                <div class="my-10">
                    <a href="{{ path('app_login') }}" class="transition duration-200 ease-in-out text-lg font-ubuntu hover:bg-white hover:bg-opacity-20 p-2 rounded-full">Se connecter</a>
                    <a href="{{ path('app_register') }}" class="transition duration-200 ease-in-out text-base font-ubuntu bg-white text-black px-4 py-2 rounded-full hover:bg-opacity-70 cursor-pointer my-10">S'inscrire</a>
                </div>
            {% endif %}
        </header>

        <main class="container min-h-[80vh] mx-auto mt-8 px-4">
            {% block body %}{% endblock %}
        </main>

        <footer class="bg-black mt-8 text-white text-center py-4">
            <p>&copy; 2025 Swap - Tous droits réservés</p>
        </footer>

         {% block javascripts %}{% endblock %}
    </body>
</html>